#preloader{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
}

.loader{
    background: linear-gradient(to right, #5C9320 2%, #63c600 82%);
}

.loader-inner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
}

.block{
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: #FFF;
    animation: load 4.6s ease-in-out infinite;
}

@keyframes load{
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    15% {
        opacity: 0;
        transform: translateY(-100px);
    }

    30% {
        opacity: 1;
        transform: translateY(0);
    }

    70% {
        opacity: 1;
        transform: translateY(0);
    }

    85% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 0;
        transform: translateY(100px);
    }
}

.loader span.block-1{
    left: 0;
    top: 0;
    animation-delay: 1.06s;
}

.loader span.block-2{
    left: 16px;
    top: 0;
    animation-delay: 0.97s;
}

.loader span.block-3{
    left: 32px;
    top: 0;
    animation-delay: 0.88s;
}

.loader span.block-4{
    left: 48px;
    top: 0;
    animation-delay: 0.79s;
}

.loader span.block-5{
    left: 0;
    top: 16px;
    animation-delay: 0.70s;
}

.loader span.block-6{
    left: 16px;
    top: 16px;
    animation-delay: .61s;
}

.loader span.block-7{
    left: 32px;
    top: 16px;
    animation-delay: .52s;
}

.loader span.block-8{
    left: 48px;
    top: 16px;
    animation-delay: .43s;
}

.loader span.block-9{
    left: 0;
    top: 32px;
    animation-delay: .34s;
}

.loader span.block-10{
    left: 16px;
    top: 32px;
    animation-delay: .25s;
}

.loader span.block-11{
    left: 32px;
    top: 32px;
    animation-delay: .16s;
}

.loader span.block-12{
    left: 48px;
    top: 32px;
    animation-delay: .07s;
}

.loader span.block-13{
    left: 0;
    top: 48px;
    animation-delay: -0.02s;
}

.loader span.block-14{
    left: 16px;
    top: 48px;
    animation-delay: -0.11s;
}

.loader span.block-15{
    left: 32px;
    top: 48px;
    animation-delay: -0.20s;
}

.loader span.block-16{
    left: 48px;
    top: 48px;
    animation-delay: -0.29s;
}

