/**
 * style.css
 * Contains CSS to make site responsive i.e. mobile and tab friendly.
 */

.navbar-header{
    position: relative;
}

#mobile-nav-open-btn{
    position: absolute;
    z-index: 2;
    cursor: pointer;
    color: #FFF;
    font-size: 30px;
    right: 10px;
    display: block;
}

#mobile-nav{
    height: 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background: rgba(255, 255, 255, .9);
    transition: all .3s linear;
}

#mobile-nav-close-btn{
    display: none;
    line-height: 1;
    position: absolute;
    top: 0;
    right: 10px;
    color: #212226;
    font-size: 50px;
    cursor: pointer;
}

#mobile-nav-close-btn:hover{
    color: #5c9320;
}

.mobile-nav-content{
    display: none;
    text-align: center;
    margin-top: 30px;
    position: relative;
    top: 10%;
}

.mobile-nav-content li{
    margin-bottom: 10px;
}

.mobile-nav-content a{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #212226;
    font-weight: 400;
    text-transform: uppercase;
    transition: all .3s linear;
}

.mobile-nav-content li a:hover,
.mobile-nav-content li a:focus{
    color: #5c9320;
    background: none;
}

.green-nav-top #mobile-nav ul.mobile-nav-content li.active>a{
    color: #5c9320;
    font-weight: 500;
}

.home-heading{
    font-size: 2.5rem;
}

@media(max-width: 550px){
    .home-heading{
        font-size: 2.1rem;
    }
    
}

@media(max-width: 768px){
    .vertical-heading h2{
        text-align: center;
        font-size: 1.9rem;
        
        margin-bottom: 50px;
    }
    
    .vertical-heading h5{
        text-align: center;
        color: #5c9320;
        font-size: 1rem;
        font-weight: 500;
        text-transform: uppercase;
        transform: none;
/*        position: absolute;*/
        display: block;
        top: 0;
        left: auto;
    }
    
/*
    .about-content{
        margin-left: 15px;
        margin-right: 15px;
*/
/*    }*/
    
    .about-item {
        margin-bottom: 35px;
    }
    
    .skill h4{
        font-size: 15px;
        font-weight: 300;
        margin-bottom: 15px;
    }
    
    .skill{
        margin-bottom: 30px;
    }
    
    #tech-statement h3{
        font-size: 20px;
    }
    
    #tech-statement h3 i{
        font-size: 20px;
    }
    
    #tech-statement p{
        font-size: 15px;
    }
    
    .section-service{
        text-align: center;
    }
    
    .section-service .col-md-2 .icon {
        text-align: center !important;
    }
    
    #services-tabs ul li{
        color: #5c9320;
        text-align: center;
        display: block;
    }
    
    .r-tabs-anchor{
        text-align: center;
        display: block;
        color: #333;
    }
    
    #testimonial-blogs{
        display: none;
    }
    
    .stats-item{
        margin-bottom: 20px;
    }
    
    .content-blog{
        text-align: center;
        padding: 0;
    }
    
    .content-blog-btn{
        padding: 8px 15px;
    }
    
    .content-small{
        text-align: center;
        margin-bottom: 30px;
    }
    
    .content-card{
         margin-bottom: 25px;
        
    }
    
    .content-card h4{
        text-align: left;
    }
    
    .last-content .first{
        text-align: left !important;
    }
    
    .last-content .second{
        text-align: right !important;
    }
    
    .content-addr{
        text-align: center;
        display: block;
    }
    
    .sub-head{
        margin-top: 30px;
        font-size: 25px;
    }
    
    .links-contact li i{
        display: block;
        width: auto;
        font-size: 25px;
        margin-top: 20px;
        margin-bottom: 5px;
    }
    
    .links-contact li{
        text-align: center;
    }
    
    .links-contact li span{
        font-size: 15px;
        margin-bottom: 20px;
    }
    
}
